builld-FileSystem-Desktop-Debug/
tests/Makefile
tests/filemanager.o
tests/moc_tst_filemanager.o
tests/testRunner.o
tests/tests
tests/tests.pro.user
tests/tst_filemanager.o
tests/value.o
tests/cluster.o
tests/moc_tst_filemanager.cpp
tests/file.o
tests/files/source_file_true
tests/files/temp_file
tests/moc_tst_file.cpp
tests/moc_tst_file.o
tests/tst_file.o
FileSystem/source_file
FileSystem/source_file_true
tests/directory.o
tests/moc_tst_directory.cpp
tests/moc_tst_directory.o
tests/tst_directory.o

